@model IEnumerable<ValidataTest.Core.Models.Order>

@{
    ViewBag.Title = "Raw data in Orders table";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalPrice)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
        @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
    </td>
</tr>
    }

</table>
